:root {
    --tam: 35%;
}

* {
    margin: 0;
    color: black;
    font-family: Poppins, sans-serif;
}

body {
  box-sizing: content-box;
}

section {
    text-align: center;
}

header {
    background-color: rgba(26, 81, 153, 1);
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    width: var(--tam);
    height: var(--tam);
}

#nav-bar ul li {
    padding: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

#nav-bar li {
    display: inline-block;
}

header a {
    text-decoration: none;
}

header li {
    list-style-type: none;
}

header a:hover {
    text-decoration: underline;
    color: lightseagreen;
}

#header {
  position: fixed;
  z-index: 100;
}

article {
  position: relative;
}

iframe {
  position: relative;
  padding-top: 150px;
}

footer {
      background-color: rgba(26, 81, 153, 1);
  text-align: right;
}

footer li {
  list-style-type: none;
  padding: 15px;
  display: inline-block;
}

footer p {
  padding: 15px;
}

label {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
}

form {
  padding: 20px;
}

#products {
  padding: 50px;
}

#features {
  padding: 6%;
}

@media (max-width: 724px) {
    #nav-bar ul li {
        padding: 25px;
        font-size: 15px;
        text-transform: uppercase;
    }

    iframe {
      width: 350px;
      height: 350px;
    }
}
